@import "../../utils/styles/variables.scss";

.subtotal-cart-items-container {
    border-top: 1px solid $card-border;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: 0.3rem 0 2rem 0;
    
    p {
        font-size: 1.2rem;
        margin: 0;
    }

    span {
        font-weight: 700;
    }
}