@import "../../utils/styles/variables.scss";

.search-main-container {
  background-color: white;
  border-radius: $search-field-border-radius/3;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: auto;

  .left-search-side {
    width: 5%;
  }

  .fill-search-side {
    width: 95%;
  }

  .right-search-side {
    background-color: $search-orange;
    color: rgb(68, 68, 68);
    display: grid;
    font-size: 1.5rem;
    height: 100%;
    position: absolute;
    place-items: center;
    right: 0;
    width: 7%;

    &:hover {
      background-color: $search-orange-hover;
      cursor: pointer;
    }
  }
}
