@import "../../../utils/styles/variables.scss";
@import "../../../utils/styles/globalStyles.scss";

.cart-list-main-container {
    display: flex;
    justify-content: space-between;

    .card-list-main-left-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 77%;

        .cart-list-description-container {
            @include container-default-styles();
            padding: 0 1.2rem;

            > .title-section {
                align-items: center;
                display: flex;
                justify-content: space-between;

                .empty-cart {
                    p {
                        width: 70%;

                        span {
                            color: blue;
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }

                > svg {
                    font-size: 1.7em;
                    cursor: pointer;
                }
            }
            > .cart-product-description {
                border-top: 1px solid $card-border;
                display: flex;
                gap: 1rem;
                justify-content: space-between;
                padding: 1rem 2rem;

                > .image-block {
                    align-items: center;
                    display: flex;
                    height: 200px;
                    justify-content: center;
                    width: 200px;

                    img {
                        max-height: 200px;
                        max-width: 200px;
                    }
                }

                > .description-block {
                    width: 60%;
                    > .product-actions-section {
                        .available {
                            color: $green;
                        }

                        .unavailable {
                            color: $red;
                        }

                        > .actions-section {
                            display: flex;

                            > .quantity-section {
                                margin: 0 2rem 0 0;
                            }

                            > .remove-product {
                                p {
                                    color: $green;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }

        .main-order-container {
            margin-bottom: 5rem;
        }
    }

    .cart-list-order-container {
        @include container-default-styles();
        max-height: 16rem;
        width: 20%;
    }
}
