@import "../../../utils/styles/variables.scss";

.main-home-container {
    height: 100%;
    margin: auto;
    width: 85%;

    .filter-section {
        display: flex;
        width: 100%;

        p {
            margin: 0.5rem;
        }
    }

    .item-list {
        margin: 2rem 0;
    }
}
