@import "../../utils/styles/variables.scss";

.main-navbar-container {
  align-items: center;
  background-color: $secondary-blue;
  display: flex;
  height: 3rem;
  width: 100%;

  @media (max-width: $mobileL) {
    .navbar {
      justify-content: flex-end !important;

      .left-side {
        display: none !important;
      }
      .right-side {
        align-self: flex-end;
      }
    }
  }

  > .navbar {
    align-items: center;
    color: white;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    justify-content: space-between;
    margin: 0 2rem;
    width: 100%;

    .nav-link {
      border: 1px solid transparent;
      color: white !important;
      font-weight: bold;
      padding: 0.2rem 1rem;
      text-decoration: none;

      &:hover {
        border: 1px solid white;
        cursor: pointer;
      }
    }

    .cart-link {
      border: 1px solid transparent;
      color: white !important;
      padding: 0.2rem 1rem;
      text-decoration: none;
    }

    .left-side {
      display: flex;
    }
  }
}
