// Color palette
$main-black: #000000;
$main-orange: #ff9900;
$main-blue: #146eb4;
$secondary-blue: #232f3e;
$main-white: #ffffff;
$card-background: #f8f8f8;
$card-border: #dbdbdb;

// Screen sizes
$mobileM: 375px;
$mobileL: 500px;
