// Color palette
$green: #007600;
$red: rgb(175, 0, 0);
$yellow-button: #FFD814;
$orange-button: #FFA41C;
$yellow-hover-button: #F7CA00;
$orange-hover-button: #FA8900;
$main-black: #000000;
$main-orange: #ff9900;
$main-blue: #146eb4;
$secondary-blue: #232f3e;
$main-white: #ffffff;
$card-background: #f8f8f8;
$card-border: #ebebeb;
$input-border: #ebebebc4;
$input-outline: #e49747;

// Screen sizes
$mobileM: 375px;
$mobileL: 500px;

// Borders
$big-cards-radius: 0.5rem;
$button-border-radius: 3rem;