// Color palette
$green: #007600;
$red: rgb(175, 0, 0);
$yellow-button: #ffd814;
$orange-button: #ffa41c;
$main-black: #000000;
$main-orange: #ff9900;
$main-blue: #146eb4;
$secondary-blue: #232f3e;
$main-white: #ffffff;
$card-background: #f8f8f8;
$card-border: #dbdbdb;

// Screen sizes
$mobileM: 375px;
$mobileL: 500px;

// Borders
$big-cards-radius: 0.5rem;
$button-border-radius: 3rem;
